/**********************************************************************************
    CSS RESET
**********************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

img {
  border: 0px;
}

/**********************************************************************************
    GENERAL
**********************************************************************************/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  color: #333;
}

ul, ol {
  margin: 0;
  padding: 0 0 0 20px;
}

h1 {
  font: 36px/36px 'Open Sans', sans-serif;
  font-weight: 300;
}

h3 {
  font: 24px/24px 'Open Sans', sans-serif;
  font-weight: 400;
}

.clear {
  clear: both;
}

#wrapper,
#wrapper_pages,
#wrapper_videos {
  position: relative;
  margin: 0 auto;
  width: 1140px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

#wrapper_pages {
  background: url('../images/background.png') top left repeat-y;
}

#wrapper_videos {
  background: url('../images/background_videos.png') top left repeat-y;
}

/**********************************************************************************
    HEADER
**********************************************************************************/

#header {
  height: 483px;
  border-bottom: 1px solid #D6D6D6;
  text-align: center;
}

#header .illustration {
  padding-top: 40px;
}

#header h1 {
  padding-top: 15px;
}

#header .search_help {
  margin: 40px;
}

#header .search_help form input {
  width: 530px;
  height: 44px;
  background: url('../images/magnifing-glass.png') 505px 10px no-repeat #eeeeee;
  font: 18px/18px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  border: none;
  border-radius: 25px;
  outline: medium none;
  padding: 0 10px;
}

/**********************************************************************************
    SEARCH RESULTS
**********************************************************************************/

#search_results {
  border-bottom: 1px solid #D6D6D6;
  min-height: 135px;
  padding: 20px 0;
}

#search_results #no_results,
#search_results #returned_results {
  text-align: center;
}

#search_results #no_results span {
  display: block;
}

#search_results #no_results span.no_results_image {
  height: 48px;
  padding-bottom: 15px;
}

#search_results #no_results span.no_results_title {
  font: 24px/24px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
}

#search_results #no_results span.no_results_query {
  font: 14px/40px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
}

#search_results #returned_results {
  background-color: #EDEDED;
  border-radius: 5px;
}

#search_results #returned_results h3 {
  font-weight: 300;
  padding: 23px 0 30px;
}

#search_results #returned_results ol {
  font: 14px/24px 'Open Sans', sans-serif;
  font-weight: 300;
  padding-left: 350px;
  text-align: left;
  width: 495px;
}

#search_results #returned_results ol:last-child {
  padding-bottom: 48px;
}

#search_results #returned_results ol li {
  border-radius: 3px;
  margin: 13px 0;
}

#search_results #returned_results ol li a {
  font: 18px/30px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-decoration: underline;
}

#search_results #returned_results ol li a:hover {
  text-decoration: none;
}

/**********************************************************************************
    CONTENT
**********************************************************************************/

#content {
  padding-bottom: 130px;
}

#content #help_shortcuts {
  height: 275px;
  border-bottom: 1px solid #D6D6D6;
  padding: 45px 0 50px;
}

#content #help_shortcuts ul {
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#content #help_shortcuts li {
  display: block;
  float: left;
  width: 33.33%;
}

#content #help_shortcuts li a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #585858;
  display: block;
  margin: 0 15px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

#content #help_shortcuts li a span.help_shortcut_title {
  font: 24px/24px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 400;
}

#content #help_shortcuts li a span {
  display: block;
}

#content #help_shortcuts li a span.help_shortcut_image {
  height: 103px;
  padding: 35px 0 30px;
}

#content #help_shortcuts li a span.help_shortcut_details {
  font: 14px/20px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
}

#content #help_common_questions {
  margin-top: 45px;
  border-bottom: 1px solid #D6D6D6;
}

#content #help_common_questions h3 {
  margin-bottom: 10px;
  text-align: center;
}

#content #help_common_questions ul {
  width: 1070px;
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 25px 35px 50px;
}

#content #help_common_questions ul li {
  float: left;
  margin: 7px 0;
  width: 510px;
}

#content #help_common_questions ul li:nth-of-type(2n+1) {
  margin-right: 30px;
}

#content #help_common_questions ul li a {
  font: 18px/30px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-decoration: none;
}

#content #help_common_questions ul li a:hover {
  text-decoration: underline;
}

#content #help_contact {
  height: 275px;
  padding-top: 30px;
}

#content #help_contact ul {
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#content #help_contact li {
  display: block;
  float: left;
  width: 25%;
}

#content #help_contact li a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #585858;
  display: block;
  margin: 0 15px;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

#content #help_contact li a span.help_shortcut_title {
  font: 18px/18px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 400;
}

#content #help_contact li a span {
  display: block;
}

#content #help_contact li a span.help_shortcut_image {
  height: 114px;
  padding: 40px 0 25px;
}

#content #help_contact li a span.help_shortcut_details {
  font: 14px/21px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
}

#content #help_books ul {
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#content #help_books li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 29.5%;
  margin: 22px 20px 30px;
}

#content #help_books li a {
  border-radius: 4px;
  display: block;
  padding: 20px 0;
  text-decoration: none;
}

#content #help_books li a span {
  display: block;
}

#content #help_books li a span.book_cover {
  height: 103px;
  margin-bottom: 38px;
}

#content #help_books li a span.book_name {
  font: 18px/18px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 400;
  margin-bottom: 15px;
}

#content #help_books li a span.book_description {
  font: 14px/20px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 300;
  min-height: 38px;
}

/**********************************************************************************
    PAGES
**********************************************************************************/

#header_pages {
  height: 180px;
  background-color: #ffffff;
}

#header_pages .logo {
  width: 600px;
  height: 130px;
  float: left;
}

#header_pages .logo a {
  background: url('../images/illustration-top.png') no-repeat scroll 25px 35px rgba(0, 0, 0, 0);
  display: inline-block;
  float: left;
  height: 65px;
  text-indent: -9999px;
  width: 82px;
  padding: 30px 23px;
}

#header_pages .logo h1 {
  padding-top: 55px;
}

#header_pages .navigation {
  height: 60px;
  padding-top: 70px;
  float: right;
}

#header_pages .navigation ul {
  font: 18px/18px 'Open Sans', sans-serif;
  font-weight: 300;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#header_pages .navigation ul li {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 3px 6px 4px;
}

#header_pages .navigation ul li a {
  color: #333;
  padding: 0 5px;
  display: inline-block;
  text-decoration: none;
}

#header_pages .navigation ul li.active {
  background: none repeat scroll 0 0 #4DAF7C;
}

#header_pages .navigation ul li.active a {
  color: #FFFFFF;
}

#header_pages .header_space {
  width: 1140px;
  height: 50px;
  border-top: 1px solid #D6D6D6;
  float: left;
}

#help_book_pages {
  float: left;
  width: 737px;
  padding: 0 55px;
}

.help_book_page {
  font-size: 15px;
  font-weight: 300;
  line-height: 150%;
  color: #333333;
}

.help_book_page h1 {
  border-bottom: 1px solid #D5D5D5;
  font-size: 200%;
  margin-bottom: 30px;
  padding-bottom: 15px;
  text-align: center;
}

.help_book_page .help_book_page_content {
  padding: 0 60px;
}

.help_book_page .help_book_page_content a {
  color: #4DAF7C;
  text-decoration: underline;
}

.help_book_page .help_book_page_content a:hover {
  color: #4DAF7C;
  text-decoration: none;
}

.help_book_page .help_book_page_content p {
  margin: 15px 0;
}

.help_book_page .help_book_page_content img {
  max-width: 100%;
}

.help_book_page .help_book_page_content .source-code {
  font-family: monospace;
  font-size: 12px;
}

.help_book_page .help_book_page_content h3 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 120%;
}

.help_book_page .help_book_page_content h3 .sub_permalink {
  display: none;
}

.help_book_page .help_book_page_content h3:hover .sub_permalink {
  display: inline;
  text-decoration: none;
}

.help_book_page .help_book_page_content code {
  display: inline;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f8f8f8;
  padding: 1px 4px;
  font-family: monospace;
}

.help_book_page .help_book_page_content span.outlined_inline {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f8f8f8;
  padding: 1px 4px;
  font-size: 12px;
}

.help_book_page .help_book_page_content span.outlined_inline.outlined_inline_mono {
  font-family: monospace;
}

.help_book_page .help_book_page_content span.term {
  font-weight: bold;
}

.help_book_page .help_book_page_content span.option {
  font-weight: bold;
  cursor: pointer;
}

.help_book_page .help_book_page_content .note {
  border: 1px solid #eede9c;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto;
  background: #fffcd9;
}

.help_book_page .help_book_page_content .note h3 {
  margin-bottom: 8px !important;
  font-size: 15px !important;
  font-weight: bold;
  text-align: center;
}

.help_book_page .help_book_page_content .related_videos {
  border: 1px solid #eede9c;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px auto;
  background: #fffcd9;
}

.help_book_page .help_book_page_content .related_videos h3 {
  margin-bottom: 8px !important;
  font-size: 15px !important;
  font-weight: bold;
  text-align: center;
}

.help_book_page .help_book_page_content .related_videos ul {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

.help_book_page .help_book_page_content .related_videos ul li span.play_time {
  font-size: 90%;
  color: #999;
}

.help_book_page .help_book_page_content .related_videos ul li span.play_time:hover {
  border-bottom: 1px dotted #999;
  cursor: help;
}

.help_book_page .help_book_page_content .step {
  overflow: none;
  margin: 8px 0;
  min-height: 16px;
}

.help_book_page .help_book_page_content .step .step_num {
  float: left;
  width: 15px;
}

.help_book_page .help_book_page_content .step .step_num span {
  background-color: #D10A0B;
  padding: 2px 6px;
  border-radius: 10px;
  border: 1px solid #D10A0B;
  color: white;
  font-size: 80%;
}

.help_book_page .help_book_page_content .step .step_content {
  padding-left: 30px;
}

#help_book_pages .help_book_page_comments {
  padding: 0 60px;
  margin-top: 40px;
}

#help_book_pages .help_book_footer {
  border-top: 1px solid #D5D5D5;
  display: table;
  font-size: 13px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 5px;
  width: 100%;
}

#help_book_pages .help_book_footer .help_book_footer_inner {
  display: table-row;
}

#help_book_pages .help_book_footer div {
  display: table-cell;
}

#help_book_pages .help_book_footer .help_book_footer_prev {
  text-align: left;
  width: 25%;
}

#help_book_pages .help_book_footer .help_book_footer_top {
  text-align: center;
}

#help_book_pages .help_book_footer .help_book_footer_next {
  text-align: right;
  width: 25%;
}

#help_book_pages .help_book_footer a {
  font-size: 15px;
  font-weight: 300;
  line-height: 150%;
  color: #333333;
  text-decoration: none;
}

/**********************************************************************************
    PAGES SIDEBAR
**********************************************************************************/

#sidebar {
  float: left;
  width: 293px;
}

#sidebar #help_book_cover {
  margin: 25px 0 30px;
  text-align: center;
}

#sidebar p {
  border-bottom: 1px solid #CCCCCC;
  font-size: 15px;
  margin: 10px 20px;
  padding-bottom: 6px;
  text-align: center;
}

#sidebar p.release_notes_version:not(:first-child) {
  padding-top: 5px;
}

#sidebar ol {
  font: 14px/24px 'Open Sans', sans-serif;
  font-weight: 300;
  list-style: none outside none;
  margin-bottom: 16px;
  padding: 0 20px;
}

#sidebar ol:last-child {
  margin-bottom: 64px;
}

#sidebar ol li {
  border-radius: 3px;
  padding: 0 13px;
  margin: 10px 0;
}

#sidebar ol.release_notes li {
  padding: 0 5px;
  margin: 5px 0;
  display: inline-block;
  width: 21%;
  text-align: center;
}

#sidebar ol li a {
  color: #333;
  text-decoration: none;
}

#sidebar ol li.selected {
  background: none repeat scroll 0 0 #BFBFBF;
  font-weight: 400;
}

#sidebar ol li.selected a {
  color: #FFFFFF;
}

#sidebar #release_notes {
  border-top: 1px solid #CCCCCC;
  margin: 40px 20px 64px;
  padding-top: 12px;
  text-align: center;
}

#sidebar #release_notes a {
  font: 14px/24px 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 16px;
  padding: 0 20px;
}

#sidebar #release_notes a {
  color: #333;
  text-decoration: none;
}

/**********************************************************************************
    VIDEOS
**********************************************************************************/

#header_videos {
  height: 440px;
  background-color: #FFFFFF;
}

#header_videos h1 {
  padding-top: 18px;
}

#header_videos .navigation {
  width: 1140px;
  height: 55px;
  padding-top: 25px;
  text-align: center;
}

#header_videos .navigation ul {
  font: 18px/18px 'Open Sans', sans-serif;
  font-weight: 300;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#header_videos .navigation ul li {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  padding: 3px 6px 4px;
}

#header_videos .navigation ul li a {
  color: #333;
  padding: 0 5px;
  display: inline-block;
  text-decoration: none;
}

#header_videos .navigation ul li.active {
  background: none repeat scroll 0 0 #4DAF7C;
}

#header_videos .navigation ul li.active a {
  color: #FFFFFF;
}

#header_videos #wrap_help_video_player {
  background-color: #FFFFFF;
  padding-bottom: 10px;
  text-align: center;
}

#header_videos #wrap_help_video_player #help_video_player {
  height: 360px;
  margin: 0 auto;
  text-align: center;
  width: 640px;
  cursor: pointer;
}

#header_videos #wrap_help_video_player #help_video_player .illustration {
  padding-top: 5px;
}

#header_videos #wrap_help_video_player #help_video_player_wrapper {
  height: 360px !important;
  width: 640px !important;
  margin: 0px auto !important;
}

#header_videos .header_space {
  width: 1140px;
  height: 45px;
  border-top: 1px solid #D6D6D6;
  float: left;
  background-color: #FFFFFF;
}

#help_video_groups {
  width: 1140px;
}

#help_video_groups .help_video_group {
  float: left;
  margin-right: 37px;
  width: 315px;
  text-align: center;
  padding: 20px 20px 40px;
}

#help_video_groups .help_video_group.last {
  margin-right: 0;
}

#help_video_groups .help_video_group h3 {
  font: 18px/18px 'Open Sans', sans-serif;
  color: #333;
  font-weight: 400;
  padding: 10px 0;
}

#help_video_groups .help_video_group .help_video_icon {
  height: 92px;
  padding: 10px 0 25px;
}

#help_video_groups .help_video_group ul {
  font: 14px/24px 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: left;
}

#help_video_groups .help_video_group ul li {
  background-position: 5px center;
  background-repeat: no-repeat;
  border-radius: 3px;
  color: #4D4D4D;
  cursor: pointer;
  display: block;
  line-height: 150%;
  margin: 2px 0 7px;
  padding: 2px 5px 3px 25px;
}

#help_video_groups .help_video_group ul li:hover {
  background-image: url('../images/play_icon.png');
}

#help_video_groups .help_video_group ul li.playing {
  background-color: #BFBFBF;
  background-image: url('../images/play_icon.png') !important;
  color: #FFFFFF;
  font-weight: 400;
}

#help_video_groups .help_video_group ul li.playing.paused {
  background-image: url('../images/pause_icon.png') !important;
}

/**********************************************************************************
    FOOTER
**********************************************************************************/

#footer {
  height: 130px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
}

#footer .footer_space {
  width: 1140px;
  height: 50px;
  border-bottom: 1px solid #D6D6D6;
}

#footer p {
  font: 12px/12px 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333333;
}

#footer .rights {
  float: left;
}

#footer .rights p {
  padding-top: 27px;
}

#footer .social {
  line-height: 28px;
  float: right;
}

#footer .social p {
  float: left;
  line-height: 23px;
  padding-top: 22px;
}

#footer .social ul.links {
  float: left;
  list-style: none;
  white-space: nowrap;
  padding: 20px 0 0 15px;
}

#footer .social ul.links li {
  display: inline;
  margin-left: 5px;
}

/**********************************************************************************
    SYNTAX HIGHLIGHTER
**********************************************************************************/

div.syntax_higlighted {
  zoom: 1;
  overflow: hidden;
}

div.syntax_higlighted div.syntax_higlighted_line_numbers {
  width: 60px;
  float: left;
  line-height: 130%;
  background: #eee;
  border-right: 1px solid #ddd;
}

div.syntax_higlighted div.syntax_higlighted_line_numbers pre {
  padding-right: 7px;
  text-align: right;
  line-height: 130%;
  color: #999;
  padding-top: 8px;
  padding-bottom: 8px;
}

div.syntax_higlighted div.syntax_higlighted_source {
  margin-left: 60px;
  line-height: 130%;
  overflow-x: auto;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  border-left: 0px;
  border-radius: 0 5px 5px 0;
  line-height: 130% !important;
}

div.syntax_higlighted div.syntax_higlighted_source pre {
  line-height: 130%;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.source-code {
  color: #000;
}

.source-code .comment {
  color: #7F9F7F;
  font-style: italic;
}

.source-code .comment .todo {
  color: #DFDFDF;
  font-weight: bold;
}

.source-code .tag {
  color: #cd2fc9;
}

.source-code .identifier {
  color: #cd2fc9;
}

.source-code .keyword {
  color: #e07d00;
  font-weight: bold;
}

.source-code .keyword.builtin {
  color: #333;
  font-weight: normal;
}

.source-code .keyword.operator {
  color: #000;
}

.source-code .number {
  color: #00cd57;
}

.source-code .string {
  color: #f82400;
}

.source-code::-moz-selection, .source-code span::-moz-selection {
  background: #70D2B3;
  color: #233322;
}

.source-code::selection, .source-code span::selection {
  background: yellow;
  color: black;
}

/**********************************************************************************
    LIVECHAT
**********************************************************************************/

#livechat_button_wrapper a.chat {
  color: #FFFFFF;
  display: block;
  width: 100%;
}

#livechat_button_wrapper div.livechat_button {
  background: none repeat scroll 0 0 #A3AB4F;
  border-radius: 10px 10px 0 0;
  display: block;
  height: 30px;
  width: 250px;
  right: 20px;
  bottom: 0;
  position: fixed;
  z-index: 1001;
  border: 1px solid #949C41;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2) inset;
  text-align: center;
}

#livechat_button_wrapper div.livechat_button a {
  margin-top: 5px;
  font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #5E8A11;
  text-decoration: none;
}

#livechat_button_wrapper #livechat_eye_catcher {
  width: 200px;
  height: 100px;
  right: 20px;
  bottom: 35px;
  position: fixed;
  z-index: 1001;
  display: none;
}

#livechat_button_wrapper #livechat_eye_catcher a.chat {
  background: url('../images/livechat-banner.png') no-repeat;
  width: 200px;
  height: 100px;
  display: block;
}

#livechat_button_wrapper #livechat_eye_catcher a.close {
  width: 30px;
  height: 25px;
  display: none;
  top: -15px;
  right: -30px;
  position: absolute;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

#livechat_button_wrapper #livechat_eye_catcher a.close:hover {
  color: #2e2e2e;
}