<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>activeCollab Help Center</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/main.css" />
  <link rel="alternate" type="application/rss+xml" href="https://activecollab.com/help/whats-new/rss.xml" title="What's New in activeCollab RSS Feed" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-66802-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
<div id="wrapper_pages">
  <div id="header_pages">
    <div class="logo">
      <a href="./../index.html">activeCollab Help Center</a>
      <h1>activeCollab Help Center</h1>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="./../index.html">Home</a></li>
        <li class="active"><a href="./../whats-new/index.html">What's New?</a></li>
        <li><a href="./../books/index.html">Books</a></li>
        <li><a href="./../videos/index.html">Videos</a></li>
      </ul>
    </div>
    <div class="header_space"></div>
  </div>

  <div id="content">
    <div id="sidebar">
      --SIDEBAR-MENU--
      <div id="release_notes">
        <a href="./../release-notes/index.html">activeCollab Release Notes</a>
      </div>
    </div>

    <div id="help_book_pages">
      --CONTENT--
    </div>
    <div class="clear"></div>
  </div>

  <div id="footer">
    <div class="footer_space"></div>
    <div class="rights"><p>&copy; 2013 &middot; A51, All rights reserved</p></div>

    <div class="social">
      <p>Stay up to date with all new features:</p>
      <ul class="links">
        <li><a href="https://twitter.com/activecollab" target="_blank"><img title="Twitter" alt="Twitter" src="../assets/images/icon_twitter.png"></a></li>
        <li><a href="https://www.facebook.com/activecollab" target="_blank"><img title="Facebook" alt="Facebook" src="../assets/images/icon_facebook.png"></a></li>
        <li><a href="https://plus.google.com/+activecollab" target="_blank"><img title="Google+" alt="Google+" src="../assets/images/icon_google.png"></a></li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  var __lc = {};
  __lc.license = 1038879;

  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
</script>
</body>
</html>